<h2><%= t('mailer.deletion_completed.title') %></h2>

<p><%= t('mailer.deletion_completed.body') %></p>

<ul style="margin: 20px 0; padding-left: 20px; color: #64748b; line-height: 1.8;">
  <li><%= t('mailer.deletion_completed.item_profile') %></li>
  <li><%= t('mailer.deletion_completed.item_history') %></li>
  <li><%= t('mailer.deletion_completed.item_bookmarks') %></li>
</ul>

<div class="divider"></div>

<div class="info-box">
  <p style="margin: 0;"><%= t('mailer.deletion_completed.farewell') %></p>
</div>
