<h2><%= t('mailer.password_reset.greeting', name: @user.name || @user.email) %></h2>

<p><%= t('mailer.password_reset.body') %></p>

<p style="text-align: center;">
  <a href="<%= @reset_url %>" class="button"><%= t('mailer.password_reset.button') %></a>
</p>

<p><%= t('mailer.password_reset.link_text') %></p>
<p><%= @reset_url %></p>

<p><%= t('mailer.password_reset.expires') %></p>

<p><%= t('mailer.password_reset.ignore') %></p>
